{% extends "::admin.html.twig" %}

{% block headTitle %}Lesson Plan{% endblock %}

{% block bodyTitle %}{{ entity.name }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">A Lesson Plan is a collection of Lessons</p>
        <hr />
    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <h2>Overview</h2>
        <p>When a Lesson Plan is created it automatically generates an ID. The ID can never be changed. You can change the Name and Description of a Lesson Plan as many times as you want.</p>
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
            </tbody>
        </table>
        <p><a class="btn btn-primary" href="{{ path('lessonplan_edit', { 'id': entity.id }) }}"><i class="icon-wrench icon-white"></i> Edit Lesson Plan</a></p>
        <hr />
        {% if entity.lessonPlanLessons %}
            <h2><a name="lesson-plans"></a>Lessons</h2>
            <p>Lessons are assigned to a Lesson Plan and given a Position for determining their order.</p>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lessonPlanLesson in entity.lessonPlanLessons %}
                        <tr>
                            <td>{{ lessonPlanLesson.lesson.name }}</td>
                            <td>{{ lessonPlanLesson.lesson.description }}</td>
                            <td><a href="#">Remove</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" href="#"><i class="icon-plus-sign icon-white"></i> Add Lesson(s)</a>
            </p>
        {% endif %}
        
        <p><a href="{{ path('lessonplan') }}"><i class="icon-backward"></i> Back to the list</a></p>
    </div>
    <div class="span5">
        <h2>Deleting a Lesson Plan?</h2>
        <div class="well">
            <p>Deleting a Lesson Plan will remove the Lesson Plan from all Users and Companies currently using that Lesson Plan.</p>
            <p>Only delete the Lesson Plan if you understand the consequences.</p>
            <form action="{{ path('lessonplan_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit"><i class="icon-minus-sign icon-white"></i> Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}