{% extends "::management.html.twig" %}

{% block headTitle %}Management Dashboard{% endblock %}

{% block bodyTitle %}
<div class="row-fluid">
    <div class="span12"><h1>Dashboard</h1></div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">    
    <div class="span7">
        <!-- Recent User Activity -->
        <section>
            <header><h2>Recent User Activity</h2></header>
            {% if recentUserActivity %}
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Lesson</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in recentUserActivity %}
                        <tr>
                            <td><a href="{{ path('user_dashboard', { 'id': entity.user.id }) }}">{{ entity.user.email }}</a></td>
                            <td><a href="{{ path('lesson_show', { 'id': entity.lesson.id }) }}">{{ entity.lesson.name }}</a></td>
                            <td>{{ entity.status|upper }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="well well-small">No Recent User Activity</div>
            {% endif %}
        </section>
    </div>
    <div class="span5">
        <!-- Common Tasks -->
        <section>
            <header><h2>Common Tasks</h2></header>
            <div class="well well-small">
                <nav>
                    <ul class="nav nav-list">
                        <li class="nav-header">Lessons</li>
                        <li><a href="{{ path('lesson_new') }}">Create a new Lesson</a></li>
                        <li><a href="{{ path('lessonplan_choose_for_lesson') }}">Add a Lesson to a Lesson Plan</a></li>
                        <li><a href="{{ path('lesson') }}">View all Lessons</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Users</li>
                        <li><a href="{{ path('user_new') }}">Create a new Users</a></li>
                        <li><a href="{{ path('user') }}">Add a User to a Company</a></li>
                        <li><a href="{{ path('user') }}">View all Users</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</div>
{% if isCompanyUser %}
<div class="row-fluid">
    <div class="span7">
        <!-- Lesson Plans -->
        <section>
            <header><h2>My Lessons</h2></header>
            {% render url('user_lesson_plans_for_user', {'userId': user.id}) %}
        </section>
    </div>
    <div class="span5">
        
    </div>
</div>
{% endif %}
{% endblock %}