{% extends "::admin.html.twig" %}

{% block headTitle %}Company Edit{% endblock %}

{% block bodyTitle %}Edit: {{ entity.name }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span7">
        <p class="lead">Changing the Name of the Company is harmless.</p>
        <form action="{{ path('company_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button class="btn btn-primary" type="submit">Rename</button>
            </p>
        </form>
        <a href="{{ path('company') }}"><i class="icon-backward"></i> Back to the list</a>
    </div>
    <div class="span5"></div>
</div>
{% endblock %}