{% extends "::admin.html.twig" %}

{% block headTitle %}Company{% endblock %}

{% block bodyTitle %}<h1>{{ entity.name }} Users</h1>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">A list of Company Users</p>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span7">
        {% if entity.users %}
        <h2><a name="users"></a>Users</h2>
            <p>Users can be added and removed from this Company.</p>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in entity.users %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                            <td>
                                {% for group in user.groups %}
                                    {{ group.name|capitalize }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('user_dashboard', { 'id': user.id }) }}"><i class="icon-list-alt"></i> Dashboard</a>
                                <br />
                                <a href="{{ path('user_show', { 'id': user.id }) }}"><i class="icon-eye-open"></i> View</a>
                                <br />
                                <a href="{{ path('user_edit', { 'id': user.id }) }}"><i class="icon-wrench"></i> Edit</a>
                                <br />
                                <a href="{{ path("company_remove_user", {"companyId": entity.id, "userId": user.id, "redirect": path('dashboard') }) }}"><i class="icon-minus"></i> Remove</a>
                                <br />
                                <a href="{{ path("company_reset_user_lessons", {"companyId": entity.id, "userId": user.id }) }}"><i class="icon-refresh"></i> Reset Lessons</a>
                                <br />
                                {% render url('user_promote_demote', {'id': user.id, 'companyId': entity.id}) %}
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" href="{{ path('company_new_user', {'id': entity.id}) }}"><i class="icon-plus-sign icon-white"></i> Create User</a>
            </p>
        {% endif %}
        <p>
            <a href="{{ path('dashboard') }}"><i class="icon-backward"></i> Back to the Dashboard</a>
        </p>
    </div>
    <div class="span5">
        <section>
            <h2>What is Promote/Demote?</h2>
            <div class="well">
                <p>Users in your Company can have 1 of 2 roles, User or Manager. Managers have the privilege of managing the User accounts for the entire Company. Managers can create, remove and edit the User accounts for their Company. Managers also have the ability to change passwords for their Users.</p>
                <p>You can also demote Managers back to the basic User role.</p>
            </div>
        </section>
    </div>
</div>
{% endblock %}
